.addInv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: -50px;
}

.addInv h2 {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.addInv h1 {
  font-size: small;
  padding-top: 10px;
}

.inventory {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;
}

.table {
  text-align: center;
  margin-top: 50px;
}

.addInv button {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 30%;
}